{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MangoMedic{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'pests/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'pests/css/dashboard_styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  </head>  
<body>
    <header class="navbar">
        <div class="navbar-content">
          <div class="navbar-brand">
            <a href="{% url 'home' %}">🥭 MangoMedic</a>
          </div>
          <nav class="navbar-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'project_list' %}">Projects</a>
            {% if user.is_authenticated %}
              <a href="{% url 'grower_portal' %}">Portal</a>
              <a href="{% url 'logout' %}">Logout</a>
                <span style="margin-left: 1rem;">Hello, {{ user.username }} 👋</span>
            {% else %}
              <a href="{% url 'login' %}">Login</a>
              <a href="{% url 'register' %}">Register</a>
            {% endif %}
            <a href="{% url 'about' %}">About</a>
          </nav>
        </div>
      </header>
    <main class="site-main">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
