{% extends "pests/base.html" %}

{% block title %}{{ itm.name }} - Details{% endblock %}

{% block content %}
<div class="detail-container">
  <h1>{{ itm.name }}</h1>
  <img src="{{ itm.image_url }}" alt="{{ itm.name }}" class="detail-image">

  <p><strong>Short Description:</strong> {{ itm.brief_description }}</p>
  <p><strong>Detailed Information:</strong> {{ itm.details }}</p>

  {% if itm.severity %}
      <p><strong>Disease Severity:</strong> {{ itm.severity }}</p>
  {% endif %}
  
  {% if itm.infestation_rate %}
      <p><strong>Infestation Rate:</strong> {{ itm.infestation_rate }}</p>
  {% endif %}
  
    <a class="details-btn" href="{% url 'home' %}">Back to Home</a>
    <a class="details-btn" href="{% url 'project_list' %}">View Projects</a>
  </div>
{% endblock %}
